{% extends 'core/base.html' %}

{% block title %}{{ room.name }} | {% endblock %}

{% block content %}
<style>
    ::-webkit-input-placeholder{
                color: white;
            }
</style>

<div class="mt-5 d-flex flex-column align-items-center justify-content-center">
    <div class="py-3 text-center" style="border:1px solid rgba(255, 255, 255, 0.18); border-radius: 10px 10px 0 0; width: 800px;">
        <h1>{{ room.name }}</h1>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-between" style=" width: 800px;  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 0 0 15px 15px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);">
        <div class="chat-messages" id="chat-messages">
            {% for message in messages %}
                    <div style="margin: 20px 20px 10px 20px;
                    backdrop-filter: blur(15px);
                    -webkit-backdrop-filter: blur(15px);
                    border-radius: 10px;
                    border:1px solid rgba(255, 255, 255, 0.18);
                    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);">
                        <p class="fw-bold opacity-50" style="font-size: 10px; margin: 10px 0 0px 10px">{{ message.user.username }}:</p>
                        <p style="margin: 0 0 5px 15px; opacity: 0.9;">{{ message.content }}</p>
                    </div>
            {% endfor %}
        </div>
    <div class="d-flex justify-content-center" style="background: rgb(0, 23, 36); border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); border-radius: 0 0 15px 15px; width: auto; position: sticky; bottom: 0;">
        <form method="post" action="." class="flex">
        {% csrf_token %}
            <input type="text" name="content" placeholder="Your message..." id="chat-message-input" class="text-white text-start" style="margin-top: 30px; margin-bottom: 30px; background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
            border:1px solid rgba(255, 255, 255, 0.18);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); border-radius: 25px 0 0 25px; height: 50px; width: 300px;">
            <button class="text-white fw-semibold"  id="chat-message-submit" style="border-radius: 0 25px 25px 0; height: 50px; width: 100px; background-color: cadetblue; border-color: cadetblue;">Submit</button>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            document.querySelector('#chat-messages').innerHTML += ('<b>' + data.username + '</b>: ' + data.message + '<br>');
        } else {
            alert('The message was empty!')
        }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        console.log({
            'message': message,
            'username': userName,
            'room': roomName
        })

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }));

        messageInputDom.value = '';

        return false
    };

    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();
</script>
{% endblock %}
           