{% extends 'core/base.html' %}

{% block title %}Log in | {% endblock %}

{% block content %}
<div class="text-white bg-full d-flex justify-content-center align-items-center" style="background-color: rgb(0, 23, 36); height: 90vh;">
    <form method="post" action="." style="margin-top: 0px; width: 450px;  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);">
        {% csrf_token %}
        <h1 class="text-center pt-3 fs-3 fw-semibold">Log in</h1>
        <div class="d-flex flex-column justify-content-center align-items-between" style="margin: 0 75px 0 75px;">
            <label class="pt-2 pb-2 fs-5">Username:</label>

            <input type="text" name="username" class="pt-1 pb-1">
        </div>

        <div class="d-flex flex-column justify-content-center align-items-between" style="margin: 0 75px 0 75px;">
            <label class="pt-2 pb-2 fs-5">Password:</label>

            <input type="password" name="password" class="pt-1 pb-1">
        </div>

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %} 
                    <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
                        <p>{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="d-flex flex-column align-items-center justify-content-center">
            <button class="mt-5 mb-5 fw-semibold" style="width: 300px; border-radius: 10px; height: 45px;">Log in</button>
        </div>
    </form>
</div>

{% endblock %}